@model IEnumerable<BudgetTracker.Models.MonthlyCost>

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /*-------------- Styling for Cards ----------------*/

    body {
        background: #eee;
    }

    span {
        font-size: 15px;
    }

    a {
        text-decoration: none;
        color: #0062cc;
        border-bottom: 2px solid #0062cc;
    }

    .box {
        padding: 60px 0px;
    }

    .box-part {
        background: #FFF;
        border-radius: 0;
        padding: 60px 10px;
        margin: 30px 0px;
    }

    .text {
        margin: 20px 0px;
    }

    .fa {
        color: #4183D7;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="box">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">


                    <i class="fas fa-house-user fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Housing</h4>
                    </div>

                    <div class="text">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                    </div>

                    @*<a href="#">Add New Subcategory</a>*@

                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">


                    <i class="fas fa-car fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Transportation</h4>
                    </div>

                    <div class="text">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                    </div>

                    @*<a href="#">Add New Subcategory</a>*@

                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">


                    <i class="fas fa-house-damage fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Insurance</h4>
                    </div>

                    <div class="text">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                    </div>

                    @*<a href="#">Add New Subcategory</a>*@

                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">


                    <i class="fas fa-utensils fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Food</h4>
                    </div>

                    <div class="text">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                    </div>

                    @*<a href="#">Add New Subcategory</a>*@

                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">


                    <i class="fas fa-baby fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Children</h4>
                    </div>

                    <div class="text">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                    </div>

                    @*<a href="#">Add New Subcategory</a>*@

                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">


                    <i class="fas fa-tshirt fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Personal Care</h4>
                    </div>

                    <div class="text">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                    </div>

                    @*<a href="#">Add New Subcategory</a>*@

                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">


                    <i class="fas fa-glass-cheers fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Entertainment</h4>
                    </div>

                    <div class="text">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                    </div>

                    @*<a href="#">Add New Subcategory</a>*@

                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">


                    <i class="fas fa-money-check-alt fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Loans</h4>
                    </div>

                    <div class="text">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                    </div>

                    @*<a href="#">Add New Subcategory</a>*@

                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">


                    <i class="fas fa-receipt fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Taxes</h4>
                    </div>

                    <div class="text">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                    </div>

                    @*<a href="#">Add New Subcategory</a>*@

                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">


                    <i class="fas fa-wallet fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Savings and Investments</h4>
                    </div>

                    <div class="text">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                    </div>

                    @*<a href="#">Add New Subcategory</a>*@

                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">


                    <i class="fas fa-gift fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Gifts and Donations</h4>
                    </div>

                    <div class="text">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                    </div>

                    @*<a href="#">Add New Subcategory</a>*@

                </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">


                    <i class="fas fa-balance-scale-right fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Legal</h4>
                    </div>

                    <div class="text">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                    </div>

                    @*<a href="#">Add New Subcategory</a>*@

                </div>
            </div>


            <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">


                    <i class="fas fa-car fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Other</h4>
                    </div>

                    <div class="text">
                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                    </div>-->

                    @*<a href="#">Add New Subcategory</a>*@

                <!--</div>
            </div>-->

        </div>
    </div>
</div>
















@*<h1>Create</h1>

    <h4>MonthlyCost</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SubcatId" class="control-label"></label>
                    <select asp-for="SubcatId" class ="form-control" asp-items="ViewBag.SubcatId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ProjectedCost" class="control-label"></label>
                    <input asp-for="ProjectedCost" class="form-control" />
                    <span asp-validation-for="ProjectedCost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ActualCost" class="control-label"></label>
                    <input asp-for="ActualCost" class="form-control" />
                    <span asp-validation-for="ActualCost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Difference" class="control-label"></label>
                    <input asp-for="Difference" class="form-control" />
                    <span asp-validation-for="Difference" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
